
.image-gradient {
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}

.image-gradient::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.9));
  backface-visibility: hidden;
  z-index: 2;
  opacity: 1;
  margin: 0;
  transition: opacity .25s ease;
  color: white;
}


.image-gradient:hover::before {
  transition: 0.3s ease-in-out;
  color: white;
  /* opacity: 0; */
}
.image-gradient2:hover::before {
  transition: 0.3s ease-in-out;
  color: white;
  /* opacity: 0; */
}

.image-gradient img {
  transition: transform 0.3s ease-in-out;
}
.image-gradient2 img {
  transition: transform 0.3s ease-in-out;
}

.image-gradient:hover img {
  transform: scale(1.08);
}
.image-gradient2:hover img {
  transform: scale(1.06);
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 3;
  color: white;
  width: 100%;
}

.text-lg {
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); */
}

.title-line {
  position: relative;
}

.title-line h2 {
  position: relative;
  margin: 0; /* Ensure no default margin on the heading */
}

.title-line h2::before {
  content: "";
  display: block;
  width: 100%; /* Full width */
  height: 2px; /* Height of the line */
  background: linear-gradient(to right, #b80000 40px, #f2f2f2 0); /* Gradient for the red part and the remaining blank */
  position: absolute;
  top: 100%; /* Position the line below the heading */
  left: 0; /* Align the line with the start of the heading */
  margin-top: 8px; /* Adjust the space between the heading and the line if needed */
}

