@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}



/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 900
 <width>: Use a value from 50 to 200 */

/* .inconsolata-<uniquifier> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal; */
  }
}

body {
  /* font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */
}

.saira-FontFamily {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.borderCss{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: calc(var(--radius) - 4px);
}

.box{
  transition: box-shadow .3s;
   border-radius:10px;
  border: 1px solid #ccc;
  /* background: #fff; */
  float: left;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0;
  margin-right: 0;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]){
  margin-left: 0;
  margin-right: 0;
}
/* Hide the tooltip by default */
.tooltipText {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  font-size: 12px; /* Adjust font size */
}

/* Tooltip arrow */
.tooltipText::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Show the tooltip when hovering over the icon */
.hoverTooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/* Additional styling for the icon container if needed */
.icon-container {
  display: flex;
  gap: 10px; /* Space between icons */
  position: relative;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.two h2 {
  text-transform: capitalize;
}
.two h2:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  /* bottom: 3px;
  left: 50%; */
  margin-left: 9px;
  background-color: #b80000;
  

}

.specTitle{
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
  /* color: rgba(0, 0, 0, 0.4); */
}
.specDetails{
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
  line-height: 1em;
  /* color: rgba(0, 0, 0, 0.4); */
}
.alt-two h2 {
  text-align:center;
}
.alt-two h2:before {
  left:50%; margin-left:-30px;
}